<section class="advantages">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__box">
        <li class="advantages__item">
            <!-- <div class="advantages__thumb">
                <svg width="33" height="50">
                    <use href="./images/icons.svg#cow-icon"></use>
                </svg>
            </div> -->
            <p class="advantages__discription">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <!-- <div class="advantages__thumb">
                <svg width="50" height="50">
                    <use href="./images/icons.svg#apples-icon"></use>
                </svg>
            </div> -->
            <p class="advantages__discription">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <!-- <div class="advantages__thumb">
                <svg width="44" height="50">
                    <use href="./images/icons.svg#ice-cream-icon"></use>
                </svg>
            </div> -->
            <p class="advantages__discription">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

</section>