<section>
    <div class="container">
        <div class="">
            <ul class="">
                <li class="">
                    <img
                        srcset="
                            ./images/custom-reviews/image-1-x1.png 1x,
                            ./images/custom-reviews/image-1-x2.png 2x
                        "
                        src="./images/custom-reviews/image-1-x1.png"
                        alt="reviwer-1"
                    />
                    <p class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                        nibh vel risus.
                    </p>
                    <p class="reviwer-data">Emily, Los Angeles</p>
                </li>
                <li class="">
                    <img
                        srcset="
                            ./images/custom-reviews/image-2-x1.png 1x,
                            ./images/custom-reviews/image-2-x2.png 2x
                        "
                        src="./images/custom-reviews/image-2-x1.png"
                        alt="reviwer-2"
                    />
                    <p class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                        nibh vel risus.
                    </p>
                    <p class="reviwer-data">Emily, Los Angeles</p>
                </li>
                <li class="">
                    <img
                        srcset="
                            ./images/custom-reviews/image-3-x1.png 1x,
                            ./images/custom-reviews/image-3-x2.png 2x
                        "
                        src="./images/custom-reviews/image-3-x1.png"
                        alt="reviwer-3"
                    />
                    <p class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
                        nibh vel risus.
                    </p>
                    <p class="reviwer-data">Emily, Los Angeles</p>
                </li>
            </ul>
            <div class="rubber-indicator">
                <ol class="page-dots">
                    <li class="dot">
                        <a class="" href="#"></a>
                    </li>
                    <li class="dota">
                        <a class="" href="#"></a>
                    </li>
                    <li class="dot">
                        <a class="" href="#"></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
