<!--Gallery collage section-->

<!-- <section class="gallery">
        <div class="container">
            <h2 class="gallery__title">Our product and customer gallery</h1>
             <picture>
                <source
                    srcset="
                    ./images/gallery/collage-x1.png 1x,
                    ./images/gallery/collage-x2.png 2x"
                    media="(min-width:
                    1200px)"
                />
                <source
                    srcset="
                        ./images/gallery/collage-tab-x1.png 1x,
                        ./images/gallery/collage-tab-x2.png 2x,
                    "
                    media="(min-width:
                    768px)"
                />
                <source
                    srcset="
                        ./images/gallery/collage-mob-x1.png 1x,
                        ./images/gallery/collage-mob-x2.png 2x,
                    "
                    media="(max-width:
                    767px)"
                />
                <img src="./images/gallery/collage-x1.png" alt="collage" />
            </picture>
        </div>
    </section> -->
