<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Products and customer gallery</h2>
        <div class="gallery__wrap">
            <picture class="">
                <source
                    srcset="./images/gallery/collage-x1.png 1x, ./images/gallery/collage-x2.png 2x"
                    type="image/png"
                    media="(min-width: 1200px)"
                />
                <source
                    srcset="
                        ./images/gallery/collage-tab-x1.png 1x,
                        ./images/gallery/collage-tab-x2.png 2x
                    "
                    type="image/png"
                    media="(min-width: 321px)"
                />
                <source
                    srcset="
                        ./images/gallery/collage-mob-x1.png 1x,
                        ./images/gallery/collage-mob-x2.png 2x
                    "
                    type="image/png"
                    media="(max-width: 320px)"
                />
                <img src="./images/gallery/collage-x1.png" alt="collage" />
            </picture>
        </div>
    </div>
</section>
