<header id="header" class="header">
    <div class="container header__container">
        <a class="logo" href="/">
            <img srcset="./images/header-logo/logo-x1.png 199w,
                        ./images/header-logo/logo-x2.png 398w"
            src="./images/header-logo/logo-x1.png" alt="Logo" width="199" height="50"
            sizes="(min-width: 320px) 199px"/>
        </a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="#header">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="/">About us</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#about">How it’s made?</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#products">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <div class="header__buttons-wrap">
            <button class="button-mobmenu" type="button" data-menu-button>
                <svg class="button-mobmenu__icon" 
                width="20" 
                height="20"
                aria-expanded="false" 
                aria-label="Переключатель мобильного меню">
                    <use class="icon-menu" href="images/icons.svg#menu-button-icon"></use>
                    <use class="icon-cross" href="images/icons.svg#close-menu-button-icon"></use>
                </svg>
            </button>
            <button class="button button--buy" type="button">
                <span class="button--buy__text">Buy now</span>
                <span class="button--buy__symbol">
                    <svg class="button--buy__icon">
                        <use href="images/icons.svg#vector-icon"></use>
                    </svg>
                </span>
            </button>
            <div class="mobile-menu" data-menu>
                <div class="mobile-menu__button-wrap">
                    <button class="button mobile-menu__button--buy" type="button">
                        <span class="button--buy__text">Buy now</span>
                        <span class="button--buy__symbol">
                            <svg class="button--buy__icon">
                                <use href="images/icons.svg#vector-icon"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                <nav class="navigation mobile-menu__navigation">
                    <ul class="mobile-menu__list">
                        <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#header">Home</a></li>
                        <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="/">About us</a></li>
                        <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#about">How it’s made?</a>
                        </li>
                        <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#products">Our
                                products</a></li>
                        <li class="mobile-menu__item"><a class="navigation__link mobile-menu__link" href="#contacts">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="./mobile-menu.js"></script>
</header>