<div class="backdrop backdrop--hidden" data-modal-about id="modal-about">
    <div class="modal modal-video">
        <button class="button-close modal__button-close" id="close-video" type="button" data-modal-close-about>
            <svg class="button-close__icon" width="11" height="11">
                <use href="./images/icons.svg#close-menu-button-icon"></use>
            </svg>
        </button>
        <div class="modal-video__content">
            <p class="title modal__title">How it`s made?</p>
            <p>We use the best ingredients and take care of you!</p>
            <video class="modal-video__player video-setup" src="./video/ice-cream.mp4" poster="" controls loop>
            </video>
        </div>
    </div>
</div>