.buy-modal {
  position: relative;

  padding: 40px 40px;

  .backdrop--hidden & {
    transform: scale(1.1);
  }

  .modal--hidden & {
    transform: scale(0);
    transition: transform var(--transition-time) linear;
  }

  @include mq(mobile-only) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 550px;

    transform: translate(-50%, -50%) scale(1);

    .backdrop--hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  @media screen and (max-width: 1199px) and (max-height: 620px) and (orientation: landscape) {
    position: static;

    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    transform: scale(1);

    .backdrop--hidden & {
      transform: scale(1.1);
    }
  }
}

.modal__description {
  font-weight: 700;
  margin-bottom: 20px;
  @include font-size(16, 20, 0.03);
  color: var(--accent-color);
}

.buy-form__name,
.buy-form__phone,
.buy-form__email,
.buy-form__address,
.buy-form__product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

  @include mq(tablet) {
    justify-content: center;
  }
}

.buy-form__product {
  padding: 0 20px;
  margin-bottom: 20px;

  @include mq(tablet) {
    padding: 0 40px;
  }
}

.buy-form__text {
  margin-bottom: 5px;
  @include font-size(14, 12, 0.02);

  @include mq(tablet) {
    margin-bottom: 10px;
    @include font-size(16, 14, 0.03);
  }
}

.buy-form__input,
.buy-form__quantity {
  padding-left: 5px;
  height: 30px;
  border: 1px solid var(--text-second-color);
  border-radius: 3px;
  transition: border-color var(--transition-time) var(--transition-function);

  &:focus {
    border-color: var(--bgc-fourth);
  }

  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include mq(tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    width: 100%;
  }
}

.buy-form__quantity {
  max-width: 50px;
}

.buy-form__input {
  @include mq(mobile-only) {
    width: 100%;
  }
}
.buy-form__product {
  justify-content: space-evenly;
}

.buy-form__product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.buy-form__product-item {
  display: block;
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  @include mq(tablet) {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      width: 160px;
    }
  }
}

.buy-form__success-message {
  margin-top: 20px;
  @include font-size(30, 30, 0.02);
  color: var(--accent-color);
}

.buy-modal__icon-wrap {
  position: absolute;
  top: 45%;
  right: 42%;
  transform: translate(-50%, -50%);

  @include mq(mobile-only) {
    width: 100px;
    height: 100px;
  }

  @include mq(desktop) {
    top: 50%;
    right: 48%;
    transform: translate(-50%, -50%);
  }
}

.buy-modal__icon-wrap {
  pointer-events: none;
  transform: rotate(45deg);
  transform: scale(0);
  transition: transform var(--transition-time) linear;

  .modal--hidden & {
    transform: scale(1);
    animation: animate-icon 700ms linear var(--transition-time) 1 forwards;
  }

  @keyframes animate-icon {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(1000px, -700px);
    }
  }
}

.backdrop {
  & .modal--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: 0;
  }
}
