.about {
  padding-top: 125px;
  padding-bottom: 20px;
  background-color: var(--bgc-second);

  @include mq(mobile-only) {
    background-image: url('../images/about/milk-layout-mob-x1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 80px center;
    @include mq(retina) {
      background-image: url('../images/about/milk-layout-mob-x2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom 80px center;
    }
  }
}

.about__title {
  @include mq(mobile-only) {
    margin-bottom: 26px;
  }
  @include mq(tablet-only) {
    margin-bottom: 50px;
  }
  @include mq(desktop) {
    margin-bottom: 26px;
  }
}

.about__content {
  display: flex;
  @include mq(mobile-only) {
    align-items: center;
    flex-direction: column;
  }
  @include mq(tablet) {
    align-items: flex-start;
  }
}
.about__picture {
  @include mq(mobile-only) {
    width: 280px;
    height: 279px;
    margin-bottom: 46px;
  }
  @include mq(tablet-only) {
    width: 340px;
    height: 339px;
    margin-right: 17px;
  }
  @include mq(desktop) {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
}
.about__text-container {
  margin: 0 auto;
  padding-top: 50px;

  @include mq(mobile-only) {
    padding-left: 30px;
    padding-right: 30px;
    width: 280px;
  }
  @include mq(tablet-only) {
    width: 340px;
  }
  @include mq(desktop) {
    width: 463px;
  }
}

.about__text {
  font-weight: 500;
  @include mq(mobile-only) {
    @include font-size(12, 19.44);
  }
}

.about__text-main {
  color: var(--text-main-color);

  @include mq(mobile-only) {
    margin-bottom: 26px;
  }
  @include mq(tablet-only) {
    @include font-size(14, 26.64);
    margin-bottom: 26px;
  }
  @include mq(desktop) {
    @include font-size(16, 28.16, 0.04);
    margin-bottom: 35px;
  }
}
.about__text-first {
  color: var(--text-second-color);

  @include mq(mobile-only) {
    margin-bottom: 10px;
  }

  @include mq(tablet-only) {
    @include font-size(14, 24.64, 0.04);
    margin-bottom: 10px;
  }

  @include mq(desktop) {
    @include font-size(14, 27.16, 0.04);
    margin-bottom: 27px;
  }
}
.about__text-second {
  color: var(--text-second-color);

  @include mq(mobile-only) {
    margin-bottom: 17px;
  }

  @include mq(tablet-only) {
    @include font-size(14, 24.64, 0.04);
    margin-bottom: 65px;
  }

  @include mq(desktop) {
    @include font-size(14, 27.16, 0.04);
    margin-bottom: 38px;
  }
}
.about__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 37px;

  width: 176px;
  height: 44px;
  border-radius: 22px;

  @include font-size(16, 20.83);
  font-weight: 700;
}
.about__button-icon {
  display: block;
  stroke: currentColor;
  width: 9px;
  height: 11px;
}
