.customer-reviews {
    padding-top: 43px;
    padding-bottom: 56px;

    @include mq(tablet) {
        padding-top: 60px;
        padding-bottom: 79px;
    }

    @include mq(desktop) {
        padding-top: 66px;
        padding-bottom: 82px;
    }
}

.customer-reviews__title {
    @include visuallity-hidden();
}

.customer-reviews__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 42px;
}

// .customer-reviews__img {
// }

.customer-reviews__text-inner {
    position: relative;

    margin-top: 29px;
    margin-bottom: 30px;

    text-align: center;
    background-color: var(--slider-bgc);

    &::before {
        content: '';
        position: absolute;
        top: 28px;
        left: 61px;
        // z-index: 1;

        width: 54px;
        height: 40px;

        background-image: url('../images/customer-reviews/bracket-icon.svg');

        @include mq(tablet) {
            top: 30px;
            left: 40px;
        }

        @include mq(desktop) {
            top: 32px;
            left: 50px;
        }
    }

    @include mq(tablet) {
        margin-top: 19px;
        margin-bottom: 50px;
    }

    @include mq(desktop) {
        margin-top: 15px;
        margin-bottom: 34px;
    }
}

.customer-reviews__text {
    position: relative;
    padding-top: 43px;
    padding-bottom: 26px;
    padding-left: 57px;
    padding-right: 66px;

    font-weight: 500;
    @include font-size(12, 30.6);

    color: var(--text-main-color);

    @include mq(tablet) {
        padding-top: 47px;
        padding-bottom: 34px;
        padding-left: 80px;
        padding-right: 80px;

        @include font-size(14, 30, 0.04);
    }

    @include mq(desktop) {
        padding-top: 47px;
        padding-bottom: 39px;
        padding-left: 88px;
        padding-right: 88px;

        @include font-size(16, 30, 0.04);
    }

    // repeating-linear-gradients
    // z-index: 2;
}

.customer-reviews__label {
    font-weight: 500;
    @include font-size(14, 26);

    color: var(--text-main-color);

    @include mq(tablet) {
        @include font-size(16, 30);
    }

    @include mq(desktop) {
        @include font-size(20, 37);
    }
}

.customer-reviews__decorate {
    position: relative;
    width: 4px;
    height: 4px;
    //   margin-top: 30px;
    margin-bottom: 18px;
    background-color: var(--slider-hover);
    border-radius: 50%;
}

.customer-reviews__decorate::before,
.customer-reviews__decorate::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
}

.customer-reviews__decorate::before {
    content: '';
    left: 20px;
}

.customer-reviews__decorate::after {
    content: '';
    left: -20px;
}

/* стили для корневого элемента слайдера */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        max-width: 620px;
    }

    @include mq(desktop) {
        max-width: 926px;
    }
}

/* стили для wrapper */
.slider__wrapper {
    position: relative;
    overflow: hidden;
    //   background-color: #eee;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.slider__items {
    display: flex;
    transition: transform 0.5s ease;
}

/* класс для отключения transition */
.transition-none {
    transition: none;
}

/* стили для элементов */
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

/* кнопки Prev и Next */
.slider__control {
    position: absolute;
    top: 90%;
    width: 30px;
    height: 50px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--button-second-hover-color);
    opacity: 0.5;
    user-select: none;
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.slider__control_prev {
    border-radius: 10px;
    left: 0;
}

.slider__control_next {
    border-radius: 10px;
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Индикаторы */
.slider__indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
}

.slider__indicator {
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 9px;
    margin-left: 9px;
    background-color: var(--slider-dots);
    background-clip: padding-box;
    //   border-top: 10px solid transparent;
    //   border-bottom: 10px solid transparent;
    border-radius: 6px;
    cursor: pointer;
}

.slider__indicator_active {
    background-image: url('../images/customer-reviews/home.svg');
    //   background-image: url('../images/icons.svg#home-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 0;
}
